.MuiButton-outlined {
    color: white;
}

/* General Page/Background */
html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(#000000 90%, #d993ab);
    background-size: cover;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #642B6B;
}