/* General Page/Background */
html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(#642b6b 70%, #f09f9c);
    background-size: cover;
    text-align: center;
  }

/* Headline */
.title {
    font-size: 7rem;
    margin: 0;
}

.tagline {
    margin: 0.75rem;
}

/* Movies of the Day*/
.topMovies {
    display: flex;
    justify-content: center;
}

img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    border: 5px solid black;
}

.topMovie {
    font-size: 0.5rem;
    width: 300px;
}