@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,900&family=Poppins&display=swap');

/* General Page/Background */
html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(#642b6b 90%, #f09f9c);
    background-size: cover;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #FFB482;
}

/* Headline */
.title {
    font-size: 7rem;
    margin: 0;
}

.tagline {
    margin-top: 0;
}

/* Movies of the Day*/

.moviesOfDay {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.topMovies {
    display: flex;
    justify-content: center;
}

img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    border: 5px solid #F09F9C;
}

.topMovie {
    font-size: 0.5rem;
    width: 300px;
}