/* Use css  gride for items?*/


.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* left side */
.logo {
    font-size: 4rem;
}


/* right side */

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.MuiAutocomplete-root {
    background-color: white;
    width: 10rem;
}

